body {
  font-family: Roboto; Raleway
  color: #212121;
  background-color: #fff;
}
ul {
  list-style: none;
}
.logo-web,
.auth-mail {
  color: #2196f3;
}
.logo {
  color: black;
}
.auth-tel {
  color: #757575;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

/* цвет основного текста #757575 */
/* вторичный цвет #212121 */
/* акцент #2196F3 */
/* вторичный цет фона #F5F4FA; */ ;
