/* цвет основного текста #212121 */
/* вторичный цвет #757575 */
/* акцент #2196F3 */
/* вторичный цет фона #F5F4FA; */

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #ffffff;
}

body {
  font-family: Roboto;
  color: var(--title-text-color);
  background-color: #ffffff;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* header */
.logo-web,
.auth-mail {
  color: var(--accent-color);
}
.logo {
  color: black;
}
.site-nav .link {
  color: var(--primary-text-color);
}
.auth .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.auth .link:hover,
.auth .link:focus {
  color: var(--accent-color);
}
/* sectione */
.sectione-title {
  color: var(--primary-text-color);
}
/*  */
.section-business {
  color: #ffffff;
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
}

/* advantage */
.advantage {
  color: var(--primary-text-color);
}

/* footer */
.footer {
  background-color: #2f303a;
}
.logo-footer {
  color: #ffffff;
}
.address {
  color: #ffffff;
}
.auth .link-address {
  color: #ffffff;
}
.auth .link-address:hover,
.auth .link-address:focus {
  color: var(--accent-color);
}
/* button */
.button {
  background-color: #f5f4fa;
  color: var(--primary-text-color);
}
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
